:root {
    /*Background, cards, button and titol colors*/
    --bg-color: #222831;
    --primary-color: #20242B;
    --secondary-color: #393E46;
    --accent-color: #DFD0B8;      
    --hover-accent-color: #C9BA9A;

    /*Icons and text colors*/
    --white-color: #EEEEEE;         
    --grey-color: #9D9D9D;        
    
    /*Priority and state colors*/
    --todo-color: #F2E6B1;            
    --done-color: #95DAB6;          
    --green-color: #C9DE83;      
    --orange-color: #EEB68F;           
    --red-color: #E06565;            

    /*State buttons text colors*/
    --todo-text-color: #797253;  
    --doing-text-color: #7E6553;    
    --done-text-color: #517E67;        
    
    --prio-low-text-color: #496041;
    --prio-mid-text-color:#836652;
    --prio-high-text-color:#833E3E;

    --regular-font: 400;
    --regular-plus-font: 500;
    --semi-bold-font: 600;
    --mid-bold-font: 700;
    
    --fs-xs: 0.75rem;      /* 12px */
    --fs-sm: 0.875rem;     /* 14px */
    --fs-base: 1rem;       /* 16px */
    --fs-md: 1.125rem;     /* 18px */
    --fs-lg: 1.25rem;      /* 20px */
    --fs-xl: 1.5rem;       /* 24px */
    --fs-2xl: 1.875rem;    /* 30px */

    --small-border-radius: 8px;
    --mid-border-radius: 16px;
    --large-border-radius:24px;

    --small-gap: 8px;
    --medium-gap: 16px;
    --large-gap: 32px;
    --xlarge-gap: 64px;
}   

body {
    width: 100vw;
    height: 100vh;
    font-family: "Outfit", system-ui, sans-serif;
    color: var(--white-color);
    background: url(/frontend/resources/images/noise_texture.png);
    user-select: none;

}

.content-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra orizzontalmente */
    gap: var(--xlarge-gap);
}


/*-----------------------
////////HEADER///////////
------------------------*/

header {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 16px 64px;

    width: 100%;

    background: var(--primary-color);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.logo,
.pfp{
    width: 72px;
    /*Filter respect the transparency of the images */
    filter: drop-shadow(15px 28px 13px rgba(0,0,0,0.01))
          drop-shadow(8px 16px 11px rgba(0,0,0,0.05))
          drop-shadow(4px 7px 8px rgba(0,0,0,0.09))
          drop-shadow(1px 2px 4px rgba(0,0,0,0.1));
    
}

.pfp-username{
    display: flex;
    align-items: center;
    gap: var(--medium-gap);
}

.username{
    background: var(--green-color);
    font-weight: var(--regular-font);
    font-size: var(--fs-base);
    color: var(--secondary-color);

    padding: 8px 16px;
    border-radius: var(--small-border-radius);

    text-shadow: 0px 10.6303px 3.86555px rgba(0, 0, 0, 0.01), 0px 5.79832px 3.86555px rgba(0, 0, 0, 0.05), 0px 2.89916px 2.89916px rgba(0, 0, 0, 0.09), 0px 0.966387px 0.966387px rgba(0, 0, 0, 0.1);
}

.balance-log-btns{
    display: flex;
    gap: var(--medium-gap);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--small-gap);
    padding: 8px 16px;
    border-radius: var(--large-border-radius);

    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-weight: var(--semi-bold-font);

    border: none;
    cursor: pointer;

    transition: all 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
    
.button:hover {
    background-color: var(--hover-accent-color);
    transform: translateY(-1px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.button:active {
    transform: translateY(0);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

/*-----------------------------------------------
////////SEARCH BAR AND BUTTONS SECTION///////////
------------------------------------------------*/

.main-section{
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 48px 64px;
    gap: 48px;

    width: 80%;

    border-radius: 48px;
    
    background: url(/frontend/resources/images/main_noise.png), #20242B;
    background-blend-mode: multiply; /* or multiply, screen, etc. */

    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
}

.search-and-filter-section{
    display: flex;
    align-items: center;
}


.tasks-board{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: var(--large-gap);
}

.empty-task{
    width: 340px;
    height: 242px;
    
    background: var(--secondary-color);
    opacity: 0.4;
    border-radius: var(--mid-border-radius);
}

.task{
    display: flex;
    flex-direction: column;
    padding: 24px 36px;
    gap: var(--small-gap);

    width: 340px;
    background: var(--secondary-color);
    border: 2px solid var(--accent-color);
    
    box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.35);
    border-radius: var(--large-border-radius);

    cursor: pointer;
    transition: all 0.5s ease;
}

.task.To-Do:hover{
    border: 2px solid var(--todo-color);
}

.task.Doing:hover{
    border: 2px solid var(--orange-color);
}

.task.Done:hover{
    border: 2px solid var(--green-color);
}

.task.Done{
    opacity: 0.5;
    filter: saturate(0.5);
    
}

.task.Done .task-title {
    text-decoration: line-through;
    transition: opacity 0.3s ease;
}




.task:hover{
    transform: translateY(-5px);
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.35);
}

.state-button-frame{
    display: flex;
    justify-content: space-between;
}

.state{
    font-weight: var(--mid-bold-font);
    font-size: var(--fs-xs);
    padding: 4px 16px;
    box-shadow: 8.61764px 24.8954px 10.5327px rgba(0, 0, 0, 0.01), 4.78758px 14.3627px 8.61764px rgba(0, 0, 0, 0.05), 1.91503px 6.70261px 6.70261px rgba(0, 0, 0, 0.09), 0.957515px 1.91503px 3.83006px rgba(0, 0, 0, 0.1);
    border-radius: 38.3006px;
    transition: all 0.7s ease;
}


.state.To-Do{
    background: var(--todo-color);
    color: var(--todo-text-color);
}

.state.Doing{
    background: var(--orange-color);
    color: var(--doing-text-color);
}

.state.Done{
    background: var(--green-color);
    color: var(--done-text-color);
}



.remove-icon{
    width: 24px;
    height: 24px;
    transition: transform 0.5s ease-in-out; /* animazione fluida */
}

.remove-icon:hover{
    transform: rotate(180deg);/* ruota di 180 gradi */
}


.title-desc-frame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;

    min-height: 100px;
}


.task-title{
    font-weight: var(--semi-bold-font);
    font-size: var(--fs-lg);
    color: var(--accent-color);
    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}




.task-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;

    font-weight: 300;
    font-size: var(--fs-sm);

    color: var(--white-color);

}

.priority-timestamp-frame{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 6px;
    font-weight: var(--regular-font);
    font-size: var(--fs-xs);

    text-shadow: 0px 6.48743px 2.35907px rgba(0, 0, 0, 0.01), 0px 3.5386px 2.35907px rgba(0, 0, 0, 0.05), 0px 1.7693px 1.7693px rgba(0, 0, 0, 0.09), 0px 0.589766px 0.589766px rgba(0, 0, 0, 0.1);

}

.priority.High{
    color: var(--red-color);
}

.priority.Mid{
    color: var(--orange-color);
}

.priority.Low{
    color: var(--green-color);
}


.timestamp{
    font-weight: var(--regular-plus-font);
    font-size: var(--fs-xs);
    color: var(--grey-color);
}



.overlay{
    background: rgba(15, 4, 4, 0.15);
    backdrop-filter: blur(10px);
    position: fixed;
    inset: 0;
    background: rgba(15,4,4,.15);
    backdrop-filter: blur(10px);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
}

.overlay.open {
    opacity: 1;
    pointer-events: auto;
}





#edit-modal {
    margin: auto;
    background: transparent;
    border: none;

    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#edit-modal[open] {
    opacity: 1;
    transform: scale(1);
}


@starting-style {
    #edit-modal[open] {
        opacity: 0;
        transform: scale(0.95);
    }
}


#edit-modal.closing {
    opacity: 0;
    transform: scale(0.95);
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;

    width: 819px;
    height: 643.17px;

    background: #393E46;
    border: 2px solid #DFD0B8;
    border-radius: 43px;
    gap: 24px;
    
    width: 50vw; 
}


.edit-modal-text-area{
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    resize: none;
    -webkit-appearance: none;
    appearance: none;
    
    width: 100%;

    padding: 12px 16px;

    line-height: 1;

    opacity: 1;
    transition: opacity 0.5s ease-in;
    word-wrap: break-word;
}


.edit-modal-text-area.title{
    font-weight: var(--semi-bold-font);
    font-size: var(--fs-lg);
    color: var(--accent-color);
}

.edit-modal-text-area.description{
    font-weight: 300;
    font-size: var(--fs-md);
    color: var(--white-color);
}



.edit-modal-text-area:focus{

    outline: 2px solid #DFD0B8;
    border-radius: 8px;
}


.edit-modal-text-area.title:focus{
    opacity: 0.4;
    transition: opacity 0.5s ease-out;
}



.label-title-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;

    width: 100%;
}

.label-edit-title{
    /* Frame 16 */

 
    display: flex;
    align-items: center;
    gap: 8px;

    width: 19.6px;
    height: 19.6px;



    font-weight: var(--semi-bold-font);
    font-size: 20px;

    color: var(--white-color);



}






.modal-top-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}


.modal-state{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 8px;
    
    background: #222831;
    border-radius: 20px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}

.inactive{
    opacity: 0.3;
    transition: opacity 0.3s ease-out;
    
}



.modal-priority-state-frame{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.modal-priority{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    
    background: #222831;
    border-radius: 8px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s ease-in;
}


.modpriority{
    font-weight: var(--mid-bold-font);
    font-size: var(--fs-xs);
    padding: 8px 16px;
    box-shadow: 8.61764px 24.8954px 10.5327px rgba(0, 0, 0, 0.01), 4.78758px 14.3627px 8.61764px rgba(0, 0, 0, 0.05), 1.91503px 6.70261px 6.70261px rgba(0, 0, 0, 0.09), 0.957515px 1.91503px 3.83006px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    transition: all 0.7s ease;
}




.modpriority.Low{
    background: var(--green-color);
    color: var(--prio-low-text-color);
}

.modpriority.Mid{
    background: var(--orange-color);
    color: var(--prio-mid-text-color);
}

.modpriority.High{
    background: var(--red-color);
    color: var(--prio-high-text-color);
}




.checkmark{
    width: 24px;
    color: var(--white-color);
    transition: all 0.5s ease;
    
}

.checkmark:hover{
    color: var(--green-color);


    transform: scale(1.2);
    text-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.close-window{
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.5s ease-in-out
}

.close-window:hover{
    transform: scale(1.2);
    opacity: 1;
}